<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Nmediasoft</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="56x56" href="~/assets/images/fav-icon/icon.png">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css" media="all" />
    <!-- carousel CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" type="text/css" media="all" />
    <!-- responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css" type="text/css" media="all" />
    <!-- nivo-slider CSS -->
    <link rel="stylesheet" href="assets/css/nivo-slider.css" type="text/css" media="all" />
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.css" type="text/css" media="all" />
    <!-- animated-text CSS -->
    <link rel="stylesheet" href="~/assets/css/animated-text.css" type="text/css" media="all" />
    <!-- font-awesome CSS -->
    <link rel="stylesheet" href="~/assets/css/all.min.css" type="text/css" media="all" />
    <!-- font-flaticon CSS -->
    <link rel="stylesheet" href="~/assets/css/flaticon.css" type="text/css" media="all" />
    <!-- theme-default CSS -->
    <link rel="stylesheet" href="~/assets/css/theme-default.css" type="text/css" media="all" />
    <!-- meanmenu CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css" type="text/css" media="all" />
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/style.css" type="text/css" media="all" />
    <!-- transitions CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.transitions.css" type="text/css" media="all" />
    <!-- venobox CSS -->
    <link rel="stylesheet" href="~/venobox/venobox.css" type="text/css" media="all" />
    <!-- widget CSS -->
    <link rel="stylesheet" href="~/assets/css/widget.css" type="text/css" media="all" />
    <!-- modernizr js -->
    <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>

</head>
<body>

    <!-- loder -->
    <div class="loader-wrapper">
        <div class="loader"></div>
        <div class="loder-section left-section"></div>
        <div class="loder-section right-section"></div>
    </div>

    <!--==================================================-->
    <!-- start	softech slider Area -->
    <!--==================================================-->
    <div class="slider_list owl-carousel">
        <div class="slider-area slider1 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="dreamit-slider-content">
                            <div class="dreamit-slider-content-text">
                                <h4>Welcome To NmediaSoft</h4>
                                <h1>WE CRAFT THINGS</h1>
                                <h1>LIKE</h1>
                                <p>
                                    ERP solutions for organizations, Dynamic websites, Applications, Mobile & Web Solutions and best school management software.

                                    We design & deliver a complete set of services for your business on the web.
                                </p>
                            </div>
                            <div class="slider-button">
                                <a href="/Services">IT Services</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
            </div>
        </div>
        <div class="slider-area slider2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <div class="dreamit-slider-content">
                            <div class="dreamit-slider-content-text">
                                <h4>Welcome To NmediaSoft</h4>
                                <h1>WE CRAFT THINGS</h1>
                                <h1>LIKE</h1>
                                <p>ERP solutions for organizations, Dynamic websites, Applications, Mobile & Web Solutions and best school management software</p>
                            </div>
                            <div class="slider-button">
                                <a href="/Services">IT Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-area slider3 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="dreamit-slider-content">
                            <div class="dreamit-slider-content-text">
                                <h4>Welcome To NmediaSoft</h4>
                                <h1>WE CRAFT THINGS </h1>
                                <h1>LIKE</h1>
                                <p>We design & deliver a complete set of services for your business on the web.</p>
                            </div>
                            <div class="slider-button">
                                <a href="/Services">IT Services</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End	softech slider Area -->
    <!--==================================================-->
    <!--==================================================-->
    <!-- Start	softech feature Area -->
    <!--==================================================-->
    <div class="feature-area">
        <div class="container">
            <div class="row navigation">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-box-icon">
                                    <i class="flaticon-smartphone"></i>
                                </div>
                                <div class="flip-box-content">
                                    <h3>IT Consultancy Solution</h3>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                @*<div class="flip-box-content">*@
                                    <p> Our consultants provide strategic advice. Our primary goal is helping your organization use technology and IT resources to reach your strategic business goals.</p>
                                @*</div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="flip-box style-two">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-box-icon">
                                    <i class="flaticon-developer"></i>
                                </div>
                                <div class="flip-box-content">
                                    <h3>Best Experience Engineer</h3>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                <div class="flip-box-content">
                                    <p>We have highly experienced IT Engineers to provide you best IT solutions. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-box-icon">
                                    <i class="flaticon-time"></i>
                                </div>
                                <div class="flip-box-content">
                                    <h3>Provide All Kind Of IT Services</h3>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                <div class="flip-box-content">

                                    <p>We have IT experts who have expertise in various domain.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="flip-box style-two">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-box-icon">
                                    <i class="flaticon-data"></i>
                                </div>
                                <div class="flip-box-content">
                                    <h3>Cloud Application Development</h3>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                @*<div class="flip-box-content">*@
                                    <p>We provides Cloud Application Development. This involves developing the cloud architecture such as planning, organizing, and designing to implementing and structuring cloud delivery models.</p>
                                @*</div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End	softech feature Area -->
    <!--==================================================-->
    <!--==================================================-->
    <!-- start softech about Area -->
    <!--==================================================-->
    <div class="about-area pt-80 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="dreamit-about-single-thumb">
                        <div class="dreamit-about-single-img">
                            <img src="~/assets/images/about1.png" alt="">
                        </div>
                    </div>
                    <div class="dreamit-about-content-box">
                        <div class="icon-thumb">
                            <img src="assets/images/ban.png" alt="">
                        </div>
                        <div class="dreamit-about-awarded">
                            <h2>Best Service Provider</h2>
                            <p>We adapt our delivery to the way your work, whether as an external provider</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 pl-40">
                    <div class="dreamit-section-title">
                        <h4>ABOUT US</h4>
                        <h3>Preparing Your Success</h3>
                        <h3>Provide NmediaSoft <span>Solutions!</span></h3>
                        <p class="pt-15">Nmediasoft is a upgrowing web and software solutions company based in Gandhinagar, one of the most enterprising cities of Gujarat in India.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="dreamit-about-content">
                                <div class="dreamit-about-icon">
                                    <i class="flaticon-developer"></i>
                                </div>
                                <div class="dreamit-about-title">
                                    <h2>Expert Team</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="dreamit-about-content">
                                <div class="dreamit-about-icon">
                                    <i class="flaticon-global-1"></i>
                                </div>
                                <div class="dreamit-about-title">
                                    <h2>IT Firm</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End	softech about Area -->
    <!--==================================================-->
    <!--==================================================-->
    <!-- start service blog Area -->
    <!--==================================================-->
    <div class="service-area style-three pt-85 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="dreamit-section-title bg-bar text-center pb-45">
                        <h4>SERVICES</h4>
                        <h3 class="text-white">Service We Offers</h3>
                        <h3 class="text-white">With Our Tools</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-box-icon">
                                    <i class="fas fa-edit"></i>
                                </div>
                                <div class="flip-box-content">
                                    <h3>Web Development</h3>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                <div class="flip-box-content-two">
                                    <h3>Web Development</</h3>
                                    <p>We provide responsive web design, development and custom solutions for any business or industry. We believe there is no job to big or to small.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="flip-box style-four">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-box-icon">
                                    <i class="far fa-object-group"></i>
                                </div>
                                <div class="flip-box-content">
                                    <h3>Mobile Applications</h3>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                <div class="flip-box-content-two">
                                    <h3>Mobile Applications</h3>
                                    <p>We offer customized mobile application development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-box-icon">
                                    <i class="far fa-paper-plane"></i>
                                </div>
                                <div class="flip-box-content">
                                    <h3>WhatsApp Chatbots</h3>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                <div class="flip-box-content">
                                    <h3>WhatsApp Chatbots</h3>
                                    <p>We are one of the select global solution provider for WhatsApp Business API</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-box-icon">
                                    <i class="far fa-lightbulb"></i>
                                </div>
                                <div class="flip-box-content">
                                    <h3>ERP Solutions</h3>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                <div class="flip-box-content">
                                    <h3>ERP Solution</h3>
                                    <p>We provide turn key and custom solutions for education, medical facilities, accounting and a long list of fortune.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="flip-box style-four">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-box-icon">
                                    <i class="far fa-credit-card"></i>
                                </div>
                                <div class="flip-box-content">
                                    <h3>eCommerce</h3>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                <div class="flip-box-content-two">
                                    <h3>eCommerce</h3>
                                    <p>We will create a ECommerce website that is engaging, informative, and easy to navigate. We will also make sure that it is responsive to all devices and users.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="flip-box style-two">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-box-icon">
                                    <i class="far fa-user-circle"></i>
                                </div>
                                <div class="flip-box-content">
                                    <h3>Cloud Application Development</h3>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                <div class="flip-box-content-two">
                                    <p>This involves developing the cloud architecture such as planning, organizing, and designing. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End service Area -->
    <!--==================================================-->
    <!--==================================================-->
    <!-- Start team Area -->
    <!--==================================================-->
    

    <!--==================================================-->
    <!-- End team Area -->
    <!--==================================================-->
    <!--==================================================-->
    <!-- Start case study Area -->
    <!--==================================================-->

    <div class="case-study-area pt-90 pb-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="dreamit-section-title bg-bar2 text-center pb-45">
                        <h4>FEATURES OF TECHNOLOGIES</h4>
                        <h3>We Work With</h3>
                        <h3>Technologies</h3>
                    </div>
                </div>
            </div>
            <div class="brand-area pt-50 pb-50">
                <div class="container">
                    <div class="row">
                        <div class="brand_list owl-carousel">
                            <div class="col-lg-12">
                                <div class="dreamit-single-brand">
                                    <div class="brand-thumb">
                                        <img src="~/assets/images/reactjs.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="dreamit-single-brand">
                                    <div class="brand-thumb">
                                        <img src="~/assets/images/nodejs.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="dreamit-single-brand">
                                    <div class="brand-thumb">
                                        <img src="~/assets/images/sqlserver.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="dreamit-single-brand">
                                    <div class="brand-thumb">
                                        <img src="~/assets/images/Android-Logo-300x169.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="dreamit-single-brand">
                                    <div class="brand-thumb">
                                        <img src="~/assets/images/asp.jpeg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="dreamit-single-brand">
                                    <div class="brand-thumb">
                                        <img src="~/assets/images/vuejs.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="dreamit-single-brand">
                                    <div class="brand-thumb">
                                        <img src="~/assets/images/html.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="dreamit-single-brand">
                                    <div class="brand-thumb">
                                        <img src="~/assets/images/WordPress.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <style>
                .brand-thumb img {
                    width: 150px;
                    height: 100px;
                    object-fit: contain;
                }
            </style>

            <!--==================================================-->
            <!----- End brand Area ----->
            <!--==================================================-->
        </div>
    </div>

    <!--==================================================-->
    <!-- End case study Area -->
    <!--==================================================-->
    <!--==================================================-->
    <!-- Start processing Area -->
    <!--==================================================-->
    <div class="process-area pb-360">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="dreamit-section-title bg-bar2 text-center pb-65">
                        <h4>PROCESS</h4>
                        <h3>Our Working Process</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="dreamit-single-process">
                            <div class="single-process-thumb">
                                <img src="~/assets/images/process1.png" alt="">
                                <div class="process-number">
                                    <span>01</span>
                                </div>
                            </div>
                            <div class="process-title">
                                <h2>Project Analysis</h2>
                                <p>We have the technology and industry expertise develop solutions that can connect people and businesses.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="dreamit-single-process">
                            <div class="single-process-thumb">
                                <img src="~/assets/images/process2.png" alt="">
                                <div class="process-number">
                                    <span>02</span>
                                </div>
                            </div>
                            <div class="process-title">
                                <h2>24/7 Support</h2>
                                <p>We are providing best support and services to our client at any time</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="dreamit-single-process">
                            <div class="single-process-thumb">
                                <img src="~/assets/images/process3.png" alt="">
                                <div class="process-number">
                                    <span>03</span>
                                </div>
                            </div>
                            <div class="process-title">
                                <h2>Select A Project</h2>
                                <p>We help to our clients to select a  project with the proper skills and knowledge</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="dreamit-single-process">
                            <div class="single-process-thumb">
                                <img src="~/assets/images/process4.png" alt="">
                                <div class="process-number">
                                    <span>04</span>
                                </div>
                            </div>
                            <div class="process-title">
                                <h2>Deliver Result</h2>
                                <p>We are providing on time delivery of the project on which we are working.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End processing Area -->
    <!--==================================================-->
    <!--==================================================-->
    <!-- End processing Area -->
    <!--==================================================-->
    <div class="counter-area pt-370 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="dreamit-single-counter pt-40">
                        <div class="dreamit-single-counter-inner">
                            <div class="counter-text">
                                <h1 class="counter">20</h1>
                                <span>K+</span>
                            </div>
                        </div>
                        <div class="counter-title">
                            <h4>App Users</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="dreamit-single-counter pb-40">
                        <div class="dreamit-single-counter-inner">
                            <div class="counter-text">
                                <h1 class="counter">50</h1>
                                <span>+</span>
                            </div>
                        </div>
                        <div class="counter-title">
                            <h4>Satisfied Clients</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="dreamit-single-counter pt-40">
                        <div class="dreamit-single-counter-inner">
                            <div class="counter-text">
                                <h1 class="counter">80</h1>
                                <span>+</span>
                            </div>
                        </div>
                        <div class="counter-title">
                            <h4>Project Completed</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="dreamit-single-counter pb-40">
                        <div class="dreamit-single-counter-inner">
                            <div class="counter-text">
                                <h1 class="counter">100</h1>
                                <span>+</span>
                            </div>
                        </div>
                        <div class="counter-title">
                            <h4>Lines of Code</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End processing Area -->
    <!--==================================================-->
    <!--==================================================-->
    <!-- STart testimonial Area -->
    <!--==================================================-->
    <div class="testimonial-area pt-90 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="dreamit-section-title bg-bar2 text-center pb-45">
                        <h4>TESTIMONIAL</h4>
                        <h3>What Says</h3>
                        <h3>Our Clients</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testi_list owl-carousel">
                    <div class="col-lg-12">
                        <div class="dreamit-single-testimonial-thumb">
                            <div class="single-testimonial-inner">
                                <div class="testimonal-images">
                                    <img src="~/assets/images/kushsakariya.png" alt="" style="border-radius:50%;width:106px;height:106px">
                                </div>
                                <div class="testimonial-title">
                                    <h2>Kush Sakaria </h2>
                                    <span>Trustee-Shree VallabhAshram</span>
                                </div>
                                <div class="testimonial-icon">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                                <div class="testimonial-title-text">
                                    <p>" Campus management system is a very good application for our School. We are getting majority services which are needed for students and teachers and parents point of view. Follow up system and support staff of NMEDIASOFT is also very good."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="dreamit-single-testimonial-thumb">
                            <div class="single-testimonial-inner">
                                <div class="testimonal-images">
                                    <img src="~/assets/images/kdpandya.png" alt="" style="border-radius:50%;width:106px;height:106px">
                                </div>
                                <div class="testimonial-title">
                                    <h2>Shree K.D. Pandya</h2>
                                    <span>Noble School , Junagadh</span>
                                </div>
                                <div class="testimonial-icon">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                                <div class="testimonial-title-text">
                                    <p>"Choosing right erp is very important but more importantly is after sale service. Because poor support would not let you fully implement erp and I think support team is very active. On the scale of 1 to 10 I would give them 9"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="dreamit-single-testimonial-thumb">
                            <div class="single-testimonial-inner">
                                <div class="testimonal-images">
                                    <img src="~/assets/images/sen.jpeg" alt="" style="border-radius:50%;width:106px;height:106px">
                                </div>
                                <div class="testimonial-title">
                                    <h2>Mr Ashish SenGupta</h2>
                                    <span>C.F.O - Gokul Global University</span>
                                </div>
                                <div class="testimonial-icon">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                                <div class="testimonial-title-text">
                                    <p>" We were since long looking for a solution that helps us to go paperless & cashless at the same time & reduces our manual workload. Here we got it. Thank you to Nmediasoft Team"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End testimonial  Area -->
    <!--==================================================-->
    <!--==================================================-->
    <!----- Start brand Area ----->
    <!--==================================================-->
    <div class="brand-area pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="brand_list owl-carousel">
                    <div class="col-lg-12">
                        <div class="dreamit-single-brand">
                            <div class="brand-thumb">
                                <img src="~/assets/images/vallabh-logo.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="dreamit-single-brand">
                            <div class="brand-thumb">
                                <img src="~/assets/images/ggu_logo.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="dreamit-single-brand">
                            <div class="brand-thumb">
                                <img src="~/assets/images/noble_logo1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="dreamit-single-brand">
                            <div class="brand-thumb">
                                <img src="~/assets/images/avp_logo1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="dreamit-single-brand">
                            <div class="brand-thumb">
                                <img src="~/assets/images/alphalogo1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="dreamit-single-brand">
                            <div class="brand-thumb">
                                <img src="~/assets/images/logo_FefsaHospital1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="dreamit-single-brand">
                            <div class="brand-thumb">
                                <img src="~/assets/images/hind_logo1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="dreamit-single-brand">
                            <div class="brand-thumb">
                                <img src="~/assets/images/mangaldev_logo1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="dreamit-single-brand">
                            <div class="brand-thumb">
                                <img src="~/assets/images/RRU-Logo12.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .brand-thumb img {
            width: 150px;
            height: 100px;
            object-fit: contain;
        }
    </style>

    <!--==================================================-->
    <!----- End brand Area ----->
    <!--==================================================-->
    <!--==================================================-->
    <!-- Start contact Area -->
    <!--==================================================-->


    <div class="contact-form-area pt-90 pb-100">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="dreamit-section-title bg-bar2 text-center pb-45">
                        <h4>CONTACT</h4>
                        <h3>Make An Consult Form</h3>
                    </div>
                </div>
                <div class="contact-form-box">
                    <form action="@Url.Action("SubmitForm", "Index")" method="POST" id="dreamit-form">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="from-box">
                                    <input type="text" name="Name" placeholder="Your Name" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="from-box">
                                    <input type="email" name="Email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="from-box">
                                    <input type="tel" name="Number" placeholder="Your Phone" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="from-box">
                                    <input type="text" name="Subject" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="from-box">
                                    <textarea name="Message" id="Message" cols="30" rows="10" placeholder="Message" required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="from-box">
                                    <label for="captcha">Enter CAPTCHA:</label>
                                    <input type="text" id="captcha" name="captcha" required />
                                    @*@if (TempData["ErrorMessage"] != null)
                                        {
                                            <span id="TempData" style="color: red;">@TempData["ErrorMessage"]</span>}*@
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="from-box">
                                    <img src="@Url.Action("GenerateCaptcha", "Index")" alt="CAPTCHA Image" />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="contact-button text-center">
                                    <button type="submit">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>




    <!--==================================================-->
    <!-- End contact Area -->
    <!--==================================================-->
    <!--================================================-->
    <!-- start	softech blog Area -->
    <!--==================================================-->
    <div class="blog-aera style-three pt-90 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="dreamit-section-title bg-bar2 text-center pb-45">
                        <h4>LATEST NEWS</h4>
                        <h3>See Your Blog</h3>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="dreamit-single-blog-box">
                                <div class="dreamit-single-blog-thumb">
                                    <a href="#"><img src="~/assets/images/fee-collection.png" alt=""></a>
                                </div>
                                <div class="blog-page-content">
                                    <div class="dreamit-blog-meta-left">
                                        <a href="#">Nmedia</a>
                                    </div>
                                    <div class="blog-page-title">
                                        <h2><a href="#">Benefits of online fees collection for Educational Institutions.</a></h2>
                                    </div>ut
                                    <div class="blog-page-text">
                                        <p>Online payments are one of the best technical advancements we are getting nowadays. It is applied in different areas, and the education sector is one of them. So, let us talk about the benefits of online fee collection for educational institutions.</p>
                                    </div>
                                    <div class="blog-read-more">
                                        <a style="background-color:darkblue; padding:10px" href="/Blog/Benefits-of-online-fees-collection-for-Educational-Institutions" class="read-more-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="dreamit-single-blog-box">
                                <div class="dreamit-single-blog-thumb">
                                    <a href="#"><img src="~/assets/images/WhatApp-Chatbot.png" alt=""></a>
                                </div>
                                <div class="blog-page-content">
                                    <div class="dreamit-blog-meta-left">
                                        <a href="#">Nmedia</a>
                                    </div>
                                    <div class="blog-page-title">
                                        <h2><a href="#">WhatsApp chatbot for Academic Institutions</a></h2>
                                    </div>
                                    <div class="blog-page-text">
                                        <p>A WhatsApp Chatbot for Education can be a tool that allows students and teachers to interact and receive information related to education through WhatsApp.A WhatsApp Chatbot for Academic Institutions is an automated tool.</p>
                                    </div>
                                    <div class="blog-read-more">
                                        <a style="background-color:darkblue; padding:10px" href="/Blog/WhatsApp-Chatbot-for-Academic-Institutions/" class="read-more-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="dreamit-single-blog-box">
                                <div class="dreamit-single-blog-thumb">
                                    <a href="#"><img src="~/assets/images/Best-school.png" alt=""></a>
                                </div>
                                <div class="blog-page-content">
                                    <div class="dreamit-blog-meta-left">
                                        <a href="blog-details.html">Nmedia</a>
                                    </div>
                                    <div class="blog-page-title">
                                        <h2><a href="#">How to choose best school management software?</a></h2>
                                    </div>
                                    <div class="blog-page-text">
                                        <p>User-friendliness: The software should be easy to use and navigate for both teachers and administrators. A complex interface can lead to frustration and decreased adoption.teachers and administrators to prevent.</p>
                                    </div>
                                    <div class="blog-read-more">
                                        <a style="background-color:darkblue; padding:10px" href="/Blog/How-to-choose-best-school-management-software?" class="read-more-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End	softech blog Area -->
    <!--==================================================-->
    <!-- jquery js -->
    <script src="~/assets/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- carousel js -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- counterup js -->
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <!-- waypoints js -->
    <script src="~/assets/js/waypoints.min.js"></script>
    <!-- wow js -->
    <script src="~/assets/js/wow.js"></script>
    <!-- imagesloaded js -->
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- venobox js -->
    <script src="~/venobox/venobox.js"></script>
    <!-- ajax mail js -->
    <script src="~/assets/js/ajax-mail.js"></script>
    <!--  animated-text js -->
    <script src="~/assets/js/animated-text.js"></script>
    <!-- venobox min js -->
    <script src="~/venobox/venobox.min.js"></script>
    <!-- isotope js -->
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <!-- jquery nivo slider pack js -->
    <script src="~/assets/js/jquery.nivo.slider.pack.js"></script>
    <!-- jquery meanmenu js -->
    <script src="~/assets/js/jquery.meanmenu.js"></script>
    <!-- jquery scrollup js -->
    <script src="~/assets/js/jquery.scrollUp.js"></script>
    <!-- theme js -->
    <script src="~/assets/js/theme.js"></script>
    <!-- jquery js -->
    <script type="text/javascript">
    $(document).ready(function() {
        var alertMessage = '@TempData["ErrorMessage"]';
        if (alertMessage) {
            alert(alertMessage);
        }
    });
    </script>
</body>
</html>
