<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Nmediasoft</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="56x56" href="~/assets/images/fav-icon/icon.png">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css" media="all" />
    <!-- carousel CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" type="text/css" media="all" />
    <!-- responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css" type="text/css" media="all" />
    <!-- nivo-slider CSS -->
    <link rel="stylesheet" href="~/assets/css/nivo-slider.css" type="text/css" media="all" />
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.css" type="text/css" media="all" />
    <!-- animated-text CSS -->
    <link rel="stylesheet" href="~/assets/css/animated-text.css" type="text/css" media="all" />
    <!-- font-awesome CSS -->
    <link rel="stylesheet" href="~/assets/css/all.min.css" type="text/css" media="all" />
    <!-- font-flaticon CSS -->
    <link rel="stylesheet" href="~/assets/css/flaticon.css" type="text/css" media="all" />
    <!-- theme-default CSS -->
    <link rel="stylesheet" href="~/assets/css/theme-default.css" type="text/css" media="all" />
    <!-- meanmenu CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css" type="text/css" media="all" />
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/Style.css" type="text/css" media="all" />
    <!-- transitions CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.transitions.css" type="text/css" media="all" />
    <!-- venobox CSS -->
    <link rel="stylesheet" href="~/venobox/venobox.css" type="text/css" media="all" />
    <!-- widget CSS -->
    <link rel="stylesheet" href="~/assets/css/widget.css" type="text/css" media="all" />
    <!-- modernizr js -->
    <script type="text/javascript" src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>

</head>
<body>
    <!-- loder -->
    <div class="loader-wrapper">
        <div class="loader"></div>
        <div class="loder-section left-section"></div>
        <div class="loder-section right-section"></div>
    </div>
    <!--==================================================-->
    <!----- start	softech slider Area ----->
    <!--==================================================-->

    <div class="breatcumb-area style-two d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breatcumb-content text-left">
                        <div class="breatcumb-title">
                            <h2>Blog</h2>
                        </div>
                        <div class="breatcumb-content-text">
                            <ul>
                                <li><a href="#">home</a> <i class="fas fa-angle-right"></i> <span>BLOG</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!----- End	softech slider Area ----->
    <!--==================================================-->
    <!--==================================================-->
    <!----- start	softech blog Area ----->
    <!--==================================================-->
    <div class="blog-aera style-three pt-90 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="dreamit-section-title bg-bar2 text-center pb-45">
                        <h3>See Your Blog</h3>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="dreamit-single-blog-box">
                                <div class="dreamit-single-blog-thumb">
                                    <a href="/whatsapp/whatsapp"><img src="~/assets/images/WhatApp-Chatbot.png" alt=""></a>
                                </div>
                                <div class="blog-page-content">
                                    <div class="dreamit-blog-meta-left">
                                        <a href="/Index">Nmediasoft</a>
                                        13/07/2024
                                    </div>
                                    <div class="blog-page-title">
                                        <h2><a href="/whatsapp/whatsapp">WhatsApp chatbot for Academic Institutions</a></h2>
                                    </div>
                                    <div class="blog-page-text">
                                        <p>A WhatsApp Chatbot for Education can be a tool that allows students and teachers to interact and receive information related to education through WhatsApp.A WhatsApp Chatbot for Academic Institutions is an automated tool.</p>
                                    </div>
                                    <div class="blog-read-more">
                                        <a style="background-color:darkblue; padding:10px" href="
                                           
                                           
                                           
                                           /WhatsApp-Chatbot-for-Academic-Institutions/" class="read-more-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="dreamit-single-blog-box">
                                <div class="dreamit-single-blog-thumb">
                                    <a href="/blog_Details/details"><img src="~/assets/images/fee-collection.png" alt=""></a>
                                </div>
                                <div class="blog-page-content">
                                    <div class="dreamit-blog-meta-left">
                                        <a href="/Index">Nmediasoft</a>
                                        12/07/2024
                                    </div>
                                    <div class="blog-page-title">
                                        <h2><a href="/blog_Details/details">Benefits of online fees collection for Educational Institutions.</a></h2>
                                    </div>
                                    <div class="blog-page-text">
                                        <p>Online payments are one of the best technical advancements we are getting nowadays. It is applied in different areas, and the education sector is one of them. So, let us talk about the benefits of online fee collection for educational institutions.</p>
                                    </div>
                                    <div class="blog-read-more">
                                        <a style="background-color:darkblue; padding:10px" href="/Blog/Benefits-of-online-fees-collection-for-Educational-Institutions" class="read-more-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!----Pagination---->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item"><a class="page-link" href="/Blog">1</a></li>
                                            <li class="page-item"><a class="page-link" href="/Blog/page2">2</a></li>
                                            <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                                            <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
                                            <li class="page-item"><a class="page-link" href="?page=5">5</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--==================================================-->
    <!----- End	softech blog Area ----->
    <!--==================================================-->
    <!-- jquery js -->
    <script type="text/javascript" src="~/assets/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <!-- carousel js -->
    <script type="text/javascript" src="~/assets/js/owl.carousel.min.js"></script>
    <!-- counterup js -->
    <script type="text/javascript" src="~/assets/js/jquery.counterup.min.js"></script>
    <!-- waypoints js -->
    <script type="text/javascript" src="~/assets/js/waypoints.min.js"></script>
    <!-- wow js -->
    <script type="text/javascript" src="~/assets/js/wow.js"></script>
    <!-- imagesloaded js -->
    <script type="text/javascript" src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- venobox js -->
    <script type="text/javascript" src="~/venobox/venobox.js"></script>
    <!-- ajax mail js -->
    <script type="text/javascript" src="~/assets/js/ajax-mail.js"></script>
    <!--  animated-text js -->
    <script type="text/javascript" src="~/assets/js/animated-text.js"></script>
    <!-- venobox min js -->
    <script type="text/javascript" src="~/venobox/venobox.min.js"></script>
    <!-- isotope js -->
    <script type="text/javascript" src="~/assets/js/isotope.pkgd.min.js"></script>
    <!-- jquery nivo slider pack js -->
    <script type="text/javascript" src="~/assets/js/jquery.nivo.slider.pack.js"></script>
    <!-- jquery meanmenu js -->
    <script type="text/javascript" src="~/assets/js/jquery.meanmenu.js"></script>
    <!-- jquery scrollup js -->
    <script type="text/javascript" src="~/assets/js/jquery.scrollUp.js"></script>
    <!-- theme js -->
    <script type="text/javascript" src="~/assets/js/theme.js"></script>
    <!-- jquery js -->
</body>
</html>

