<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Nmediasoft</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="56x56" href="~/assets/images/fav-icon/icon.png">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css" media="all" />
    <!-- carousel CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" type="text/css" media="all" />
    <!-- responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css" type="text/css" media="all" />
    <!-- nivo-slider CSS -->
    <link rel="stylesheet" href="~/assets/css/nivo-slider.css" type="text/css" media="all" />
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.css" type="text/css" media="all" />
    <!-- animated-text CSS -->
    <link rel="stylesheet" href="~/assets/css/animated-text.css" type="text/css" media="all" />
    <!-- font-awesome CSS -->
    <link rel="stylesheet" href="~/assets/css/all.min.css" type="text/css" media="all" />
    <!-- font-flaticon CSS -->
    <link rel="stylesheet" href="~/assets/css/flaticon.css" type="text/css" media="all" />
    <!-- theme-default CSS -->
    <link rel="stylesheet" href="~/assets/css/theme-default.css" type="text/css" media="all" />
    <!-- meanmenu CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css" type="text/css" media="all" />
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/Style.css" type="text/css" media="all" />
    <!-- transitions CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.transitions.css" type="text/css" media="all" />
    <!-- venobox CSS -->
    <link rel="stylesheet" href="~/venobox/venobox.css" type="text/css" media="all" />
    <!-- widget CSS -->
    <link rel="stylesheet" href="~/assets/css/widget.css" type="text/css" media="all" />
    <!-- modernizr js -->
    <script type="text/javascript" src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>

</head>
<body>
    <!-- loder -->
    <div class="loader-wrapper">
        <div class="loader"></div>
        <div class="loder-section left-section"></div>
        <div class="loder-section right-section"></div>
    </div>
    <!--==================================================-->
    <!----- start	softech slider Area ----->
    <!--==================================================-->
    <div class="breatcumb-area style-two d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breatcumb-content text-left">
                        <div class="breatcumb-title">
                            <h2>Product</h2>
                        </div>
                        <div class="breatcumb-content-text">
                            <ul>
                                <li><a href="#">home</a> <i class="fas fa-angle-right"></i> <span>PRODUCTS</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!----- End	softech slider Area ----->
    <!--==================================================-->
    <!--==================================================-->
    <!----- Start Portfolio Area ----->
    <!--==================================================-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <style>
            .portfolio-area {
                padding-top: 45px;
                padding-bottom: 0;
            }

            .dreamit-section-title {
                margin-bottom: 25px;
            }

            .single_portfolio_thumb img {
                width: 80%;
                display: block;
                margin: 0 auto;
            }

            .portfolio-icon {
                margin-top: 15px;
            }

                .portfolio-icon .port-icon a {
                    margin: 0 5px;
                    font-size: 18px;
                }

            .single_portfolio_content h3 a {
                color: #333;
                text-decoration: none;
            }
        </style>

        <div class="portfolio-area style-two pt-45 pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="dreamit-section-title bg-bar2 text-center pb-25">
                            <h4>OUR PRODUCT</h4>
                            <h3>Check Out</h3>
                            <h3>Our Latest Product</h3>
                            <div class="em-bar-center"></div>
                        </div>
                    </div>
                </div>

                <div class="row image_load">
                    <div class="col-lg-4 col-md-6 col-sm-12 grid-item english order-lg-first">
                        <div class="single_portfolio">
                            <div class="single_portfolio_inner">
                                <div class="single_portfolio_thumb">
                                    <a href="portfolio-details.html"><img src="~/assets/images/online_testing.jpg" alt="" /></a>
                                </div>
                                <div class="portfolio-icon">
                                    <div class="porfolio-icon-inner align-items-center">
                                        <div class="port-icon">
                                            <a class="portfolio-icon venobox vbox-item" data-gall="myportfolio" href="https://evidyapeeth.in/online-exam-management/"><i class="fa fa-images"></i></a>
                                            <a href="https://evidyapeeth.in/online-exam-management/"><i class="fas fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_portfolio_content text-center">
                                    <div class="portfolio_content_inner">
                                        <h3><a href="https://evidyapeeth.in/online-exam-management/">Online Examination System</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 grid-item english">
                        <div class="single_portfolio">
                            <div class="single_portfolio_inner">
                                <div class="single_portfolio_thumb">
                                    <a href="portfolio-details.html"><img src="~/assets/images/sms.jpg" alt="" style="width:80%;" /></a>
                                </div>
                                <div class="portfolio-icon">
                                    <div class="porfolio-icon-inner align-items-center">
                                        <div class="port-icon">
                                            <a class="portfolio-icon venobox vbox-item" data-gall="myportfolio" href="https://evidyapeeth.in/"><i class="fa fa-images"></i></a>
                                            <a href="https://evidyapeeth.in/"><i class="fas fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_portfolio_content text-center">
                                    <div class="portfolio_content_inner">
                                        <h3><a href="https://evidyapeeth.in/">Campus Management ERP</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 grid-item english">
                        <div class="single_portfolio">
                            <div class="single_portfolio_inner">
                                <div class="single_portfolio_thumb">
                                    <a href="https://nmediasoft.com/whatsapp-business-api/"><img src="~/assets/images/WhatsApp_icon.png" alt="" style="width:80%;" /></a>
                                </div>
                                <div class="portfolio-icon">
                                    <div class="porfolio-icon-inner align-items-center">
                                        <div class="port-icon">
                                            <a class="portfolio-icon venobox vbox-item" data-gall="myportfolio" href="https://nmediasoft.com/whatsapp-business-api/"><i class="fa fa-images"></i></a>
                                            <a href="https://nmediasoft.com/whatsapp-business-api/"><i class="fas fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_portfolio_content text-center">
                                    <div class="portfolio_content_inner">
                                        <h3><a href="https://nmediasoft.com/whatsapp-business-api/">WhatsApp Chatbot solution</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 grid-item english">
                        <div class="single_portfolio">
                            <div class="single_portfolio_inner">
                                <div class="single_portfolio_thumb">
                                    <img src="~/assets/images/Hospital-.png" alt="" style="width:80%;" />
                                </div>
                                <div class="portfolio-icon">
                                    <div class="porfolio-icon-inner align-items-center">
                                        <div class="port-icon">
                                            <a class="portfolio-icon venobox vbox-item" data-gall="myportfolio" href="https://nmediasoft.com/opdms-for-doctor/"><i class="fa fa-images"></i></a>
                                            <a href="https://nmediasoft.com/opdms-for-doctor/"><i class="fas fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_portfolio_content">
                                    <div class="portfolio_content_inner">
                                        <h3><a href="https://nmediasoft.com/opdms-for-doctor/">Doctor's OPD Management</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    



<!--==================================================-->
<!----- End portfolio Area ----->
<!--==================================================-->
<!-- jquery js -->
<script type="text/javascript" src="~/assets/js/vendor/jquery-3.2.1.min.js"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
<!-- carousel js -->
<script type="text/javascript" src="~/assets/js/owl.carousel.min.js"></script>
<!-- counterup js -->
<script type="text/javascript" src="~/assets/js/jquery.counterup.min.js"></script>
<!-- waypoints js -->
<script type="text/javascript" src="~/assets/js/waypoints.min.js"></script>
<!-- wow js -->
<script type="text/javascript" src="~/assets/js/wow.js"></script>
<!-- imagesloaded js -->
<script type="text/javascript" src="~/assets/js/imagesloaded.pkgd.min.js"></script>
<!-- venobox js -->
<script type="text/javascript" src="~/venobox/venobox.js"></script>
<!-- ajax mail js -->
<script type="text/javascript" src="~/assets/js/ajax-mail.js"></script>
<!--  animated-text js -->
<script type="text/javascript" src="~/assets/js/animated-text.js"></script>
<!-- venobox min js -->
<script type="text/javascript" src="~/venobox/venobox.min.js"></script>
<!-- isotope js -->
<script type="text/javascript" src="~/assets/js/isotope.pkgd.min.js"></script>
<!-- jquery nivo slider pack js -->
<script type="text/javascript" src="~/assets/js/jquery.nivo.slider.pack.js"></script>
<!-- jquery meanmenu js -->
<script type="text/javascript" src="~/assets/js/jquery.meanmenu.js"></script>
<!-- jquery scrollup js -->
<script type="text/javascript" src="~/assets/js/jquery.scrollUp.js"></script>
<!-- theme js -->
<script type="text/javascript" src="~/assets/js/theme.js"></script>
<!-- jquery js -->
</body>
</html>